*,
*:before,
*:after {
	box-sizing: inherit;
}

.align-left {
	display: flex;
	justify-content: flex-end;
}
.menu-button {
	display: inline-block !important;
	margin: auto 20px !important;
}
.no-eff-hover {
	border-bottom: none !important;
	cursor: default !important;
}
.updoot-icon,
.downdoot-icon {
	cursor: pointer;
}
.updoot-icon:hover > svg {
	fill: #ca1111 !important;
}
.downdoot-icon:hover > svg {
	fill: #155fcf !important;
}
